#ButtonExit{
  display: block;
	margin-top: 50px;
	position: relative;
  left: 40%;
}


#UserName {
  display:block;
  margin-top:5%;
  font-size: 58px;
  font-family: cursive;
}

form{
  display:block;
  position: relative;
  left: 30%;
  width: 500px;
}


#MainLogo{
  display:block;
  margin-top:100px;
}

#MainForms{
  display:block;
  text-align:center;
  margin-top:100px;
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 700% 700%;
	animation: gradient 15s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
